[tool.poetry]
name = "aiochris"
version = "0.0.0"
description = "ChRIS client built on aiohttp"
authors = ["FNNDSC <dev@babyMRI.org>"]
readme = "README.md"
license = "MIT"
packages = [
    {include = "chris"}
]

[tool.poetry.dependencies]
python = "^3.10"
aiohttp = "^3.8.3"

# https://github.com/yukinarit/pyserde/issues/292
pyserde = "0.8.3"
async-property = "^0.2.1"
yarl = "^1.8.2"
aiofiles = "^22.1.0"

[tool.poetry.group.dev.dependencies]
pytest = "^7.2.1"
pytest-asyncio = "^0.20.3"
pre-commit = "^2.21.0"
pytest-mock = "^3.10.0"
coverage = "^7.0.5"
pytest-cov = "^4.0.0"


[tool.poetry.group.doc.dependencies]
pdoc = "^12.3.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
asyncio_mode = "auto"
